.spacer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spacer--small {
  height: 1rem;
}

.spacer--medium {
  height: 2rem;
}

.spacer--large {
  height: 3rem;
}

.spacer__line {
  width: 100%;
  border: none;
  border-top: 1px solid #e0e0e0;
  margin: 0;
}
